[submodule "njs-traefik-docker"]
	path = njs-traefik-docker
	url = git@github.com:Flav35/njs-traefik-docker.git
[submodule "api-provider"]
	path = api-provider
	url = git@github.com:Flav35/api-provider.git
[submodule "bind"]
	path = bind
	url = git@github.com:Flav35/bind.git
[submodule "consul"]
	path = consul
	url = git@github.com:Flav35/consul.git
[submodule "share"]
	path = share
	url = git@github.com:Flav35/share.git
[submodule "vault"]
	path = vault
	url = git@github.com:Flav35/vault.git
